$white: #FFF;
$darkWhite: #FCFCFD;
$darkerWhite: #F5F4F6;
$darkestWhite: #EBEAED;
$mostDarkestWhite: #DEDCE1;
$ink: #170C3A;
$lightInk: #8F8A9B;
$lighterInk: #B1ADB9;
$lightestInt: #C7C4CD;
$blue: #365DF0;
$darkBlue: #2F55CC;
$green: #12DB89;
$darkGreen: #10B26C;
$yellow: #FFBB43;
$darkYellow: #D89C3A;
$red: #F95E5A;
$darkRed: #CC4C4C;
$purple: #6554C0;
$darkPurple: #4C4499;
$teal: #30C3FC;
$darkTeal: #2BAFD8;