$cancel-circle: "assets/icons/icon-cancel-circle.svg"
$close: "assets/icons/icon-close.svg"
$learn: "assets/icons/icon-learn.svg"
$pin: "assets/icons/icon-pin.svg"
$plus-circle: "assets/icons/icon-plus-circle.svg"
$search: "assets/icons/icon-search.svg"

// sizes

.icon
  width: 30px
  height: 30px
  transform: scale(0.4)
  align-content: center
  background-size: contain
.icon-most-smallest
  height: 10px
.icon-smallest
  height: 12px
.icon-smaller
  height: 15px
.icon-small
  height: 20px
.icon-medium
  height: 25px
.icon-big
  height: 35px
.icon-bigger
  height: 45px
.icon-biggest
  height: 60px
.icon-most-biggest
  height: 75px

// icons

.icon-cancel-circle
  background: url($cancel-circle) no-repeat
.icon-close
  background: url($close) no-repeat
.icon-learn
  background: url($learn) no-repeat
.icon-pin
  background: url($pin) no-repeat
.icon-plus-circle
  background: url($plus-circle) no-repeat
.icon-search
  background: url($search) no-repeat